:root {
/*    --main-black: rgb(25, 26, 26);*/
    --main-black: #000;
    --main-dark-gray: rgb(25, 26, 26);
    --main-white: #FFF;
    --main-yellow: #FFEB3B;
    --main-yellow-overlay: rgba(255,235,59,0.75);
    --main-gray: #BBB;

    --gray: rgb(89, 89, 89);
    --green1: rgb(137, 214, 155);
    --green2: #8bc34a;
    --green3: #558b2f;
    --red: rgb(151, 32, 23);
    --pink: rgb(213, 125, 239);
    --orange1: rgb(243, 159, 58);
    --orange2: #e65100;
    --purple: rgb(120, 27, 86);
    --blue1: #bbdefb;
    --blue2: #90caf9;
    --blue3: #3f51b5;
    --yellow1: #ffeb3b;
    --yellow2: rgb(249, 212, 114);

    --border-radius: 5px;
}