* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    background-color: var(--main-black);
    overflow-x: hidden;
    color: var(--main-white);
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
    color: var(--main-yellow);
    letter-spacing: 3px;
}
.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}

.header-content {
    z-index: 2;
}

.header-content p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
}

.header-title {
    font-size: 50px;
    text-shadow: 1px 1px 1px #000;
    color: var(--main-yellow);
    text-transform: uppercase;
}

.header-subtitle {
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Raleway';
    margin-bottom: 50px;
    color: var(--main-white);
}

section{
    padding:20px 0;
}

section .section-title {
    text-align: center;
    margin: 60px 0;
}

.section-b {
    background: #333;
    color: #fff;
}

@media(max-width:960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.btn-floating {
    background-color: var(--main-yellow) !important;
}

.tap-target-wrapper.open .tap-target {
    opacity: 1 !important;
}

section {
    background-color: var(--main-black);
}

/* --------------------------
Style for carousel slider 
in Fun Fact discovery feature 
----------------------------*/
#carousel {
    position: relative;
    width:60%;
    margin:0 auto;
    }
    
    #slides {
    overflow: hidden;
    position: relative;
    width: 40%;
    height: 100%;
    margin-left: -25%;
    }
    
    #slides ul {
    list-style: none;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    }
    
     #slides li {
    width:100%;
    height: 100%;
    float:left;
    text-align: center;
    position: relative;
    }
  
    /* Styling for prev and next buttons */
    .btn-bar{
        display: block;
        position: relative;
        margin-left: 28%;
        width: 100%;
    }
   
    #buttons a {
    text-align:left;
    display:block;
    font-size:40px;
    float:left;
    outline:0;
    color:black;
    text-decoration:none;
    width:50%;
    margin-top: -10%;
    }
    
    a#prev:hover, a#next:hover {
    color: black;
    text-shadow: 7px 0 0em black;  
    }
    
    .quote-phrase {
    font-weight:300;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
    }
    
    .quote-phrase {
    height: 200px;
    font-size:24px;
    color:rgb(0, 0, 0);
    }
    
    .quote-marks {
    font-size:30px;
    padding:0 3px 3px;
    position:inherit;
    }
    
    .quoteContainer, .authorContainer {
    display: table;
    width: 100%;
    }
/* -----------------------------
End of style for carousel slider 
in Fun Fact discovery feature 
-------------------------------*/

#biens-section img:hover{
    filter: blur(1px);
    cursor: pointer;
}

.infoBien{
    display: none;
}