:root {
/*    --main-black: rgb(25, 26, 26);*/
    --main-black: #000;
    --main-dark-gray: rgb(25, 26, 26);
    --main-white: #FFF;
    --main-yellow: #FFEB3B;
    --main-gray: #BBB;

    --gray: #9e9e9e;
    --green1: #69f0ae;
    --green2: #8bc34a;
    --green3: #558b2f;
    --red: #e53935;
    --pink: #f06292;
    --orange1: #ff9800;
    --orange2: #e65100;
    --purple: #673ab7;
    --blue1: #bbdefb;
    --blue2: #90caf9;
    --blue3: #3f51b5;
    --yellow1: #ffeb3b;
    --yellow2: #fbc02d;

    --border-radius: 5px;
}