:root {
/*    --main-black: rgb(25, 26, 26);*/
    --main-black: #000;
    --main-dark-gray: rgb(25, 26, 26);
    --main-white: #FFF;
    --main-yellow: #FFEB3B;
    --main-gray: #BBB;

    --gray: rgb(135, 135, 135);
    --green1: rgb(115, 240, 180);
    --green2: rgb(139, 202, 27);
    --green3: rgb(10, 103, 64);
    --red: rgb(255, 2, 1);
    --pink: rgb(200, 0, 127);
    --orange1: rgb(255, 146, 2);
    --orange2: rgb(255, 100, 0);
    --purple: rgb(94, 30, 132);
    --blue1: rgb(161, 210, 219);
    --blue2: rgb(61, 146, 181);
    --blue3: rgb(28, 42, 150);
    --yellow1: rgb(255, 255, 0);
    --yellow2: rgb(255, 200, 0);

    --border-radius: 5px;
}